@font-face {
  font-family: 'KyivTypeSans';
  src: url('./assets/fonts/KyivTypeSans-VarGX.ttf') format('truetype');
  font-weight: 1 1000;
}

@font-face {
  font-family: 'KyivTypeTitling-Heavy2';
  src: url('./assets/fonts/KyivTypeTitling-Heavy2.ttf') format('truetype');
  font-weight: 1 1000;
}

@font-face {
  font-family: 'KyivTypeSans-Bold';
  src: url('./assets/fonts/KyivTypeSans-Bold2.ttf') format('truetype');
}

@font-face {
  font-family: 'KyivTypeSans-Medium';
  src: url('./assets/fonts/KyivTypeSans-Medium2.ttf') format('truetype');
}

:root {
  --primary-black: black;
  --button-color-one: #456EBD;
  --button-color-two: #9D2555;
  --button-color-three: #A98973;
}

* {
  margin: 0;
  font-family: 'KyivTypeSans', sans-serif;
  font-variation-settings: 'wght' 250;
  font-size: 20px;
}

body,
html {
  overflow: hidden;
}

.App {
  height: calc(var(--vh, 1vh) * 100);
}

.shape {
  position: absolute;
  animation: rotate 15s linear infinite;
}


/*NAVBAR*/
.navbar {
  height: 150px;
  display: flex;
  align-items: center;
}

.navbar .links {
  margin-right: 8vw;
  margin-left: auto;
}

.navbar a {
  margin-left: 45px;
  font-size: 25px;
}

.navbar a:hover {
  color: var(--button-color-three);
}

#main-logo {
  margin-left: 8vw;
  padding-left: 0;
  font-family: 'KyivTypeTitling-Heavy2', sans-serif;
  font-size: 25px;
  font-variation-settings: 'wght' 700,
    'cont' 1000;
}

#main-logo:hover {
  cursor: pointer;
  color: var(--primary-black);
}


/*HOME PAGE*/
.image--left {
  top: calc(50vh - 400px);
  left: -300px;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.content {
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
}

.home {
  margin: 0 0 20vh 45vw;
  display: flex;
  flex-direction: column;
  min-height: 320px;
  width: 570px;
}

#p1 {
  margin-bottom: 8px;
}

h1 {
  font-size: 60px;
  font-family: 'KyivTypeSans-Bold';
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 30px;
  word-spacing: 8px;
  text-align: justify;
}

.home p {
  font-size: 22px;
}

.home h1 {
  margin: 0 0 8px -4px;
}

.button__container {
  min-width: 400px;
  max-width: fit-content;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  max-width: 250px;
  text-align: left;
  font-family: 'KyivTypeSans-Medium';
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-black);
}

.blue:hover {
  color: var(--button-color-one);
  background-image: url('./assets/images/arrow-wave-left-up-blue.svg');
}

/*ABOUT PAGE*/
.image--right {
  top: calc(1vh - 450px);
  left: 70vw;
  opacity: 0.3;
  z-index: -1;
}

.about,
.works,
.project {
  width: 100%;
  margin: -150px 8vw 0 8vw;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__container--left {
  max-width: 650px;
}

.photo {
  border-radius: 20px;
  padding-right: 10px;
}

/*WORKS PAGE*/
.works {
  display: flex;
  justify-content: space-between;
}

.works__container--right,
.image__container {
  min-width: 450px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
}

.works__table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.works-elem__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.line {
  margin-bottom: 20px;
}

.red:hover {
  color: var(--button-color-two);
  background-image: url('./assets/images/arrow-wave-left-up-red.svg');
}

.project__container {
  display: grid;
  grid-template-columns: 1fr 1fr 2.5fr;
}

#project-h1 {
  text-align: center;
}

.project-p {
  font-family: 'KyivTypeSans-Medium';
}